* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#mensagens {
    display: flex;
    flex-direction: column;
}

body {
    background-color: rgb(68, 54, 126);
}

  #mensagens {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    border-radius: 8px;
    font-family: Arial, sans-serif;
  }

  #mensagens li {
    padding: 10px 15px;
    margin: 10px;
    max-width: 80%;
    min-width: 30%;
    border-radius: 20px;
    word-wrap: break-word;
    clear: both;
  }

  .recebida {
    background-color: rgb(228, 221, 255);
    align-self: flex-start;
    text-align: left;
    border: 1px solid rgb(224, 215, 255);
  }

  .enviada {
    background-color: rgb(145, 114, 255);
    align-self: flex-end;
    text-align: right;
    border: 1px solid rgb(138, 106, 255);
    color: white;
  }
  .avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #6c757d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin: 0 8px;
    flex-shrink: 0;
  }
  .bubble {
    background-color: #f1f0f0;
    padding: 5px 10px;
    border-radius: 10px;
    max-width: 250px;
  }
  .enviada .bubble {
    background-color: #dcf8c6;
    text-align: right;
  }
  .hora {
    font-size: 0.8em;
    color: gray;
    margin-left: 5px;
  }

/* Smartphone */
[class*="col-"]{
    float: left;
    width: 100%;
    padding: 40px;
}

@media only screen and (min-width: 600px){
    /* Tablet */
    .col-s-1{
        width: 8.33%;
    }
    .col-s-2{
        width: 16.66%;
    }
    .col-s-3{
        width: 25%;
    }
    .col-s-4{
        width: 33.33%;
    }
    .col-s-5{
        width: 41.66%;
    }
    .col-s-6{
        width: 50%;
    }
    .col-s-7{
        width: 58.33%;
    }
    .col-s-8{
        width: 66.66%;
    }
    .col-s-9{
        width: 75%;
    }
    .col-s-10{
        width: 83.33%;
    }
    .col-s-11{
        width: 91.66%;
    }
    .col-s-12{
        width: 100%;
    }

}

@media only screen and (min-width: 700px){
    /* Desktop PC */
    .col-1{
        width: 8.33%;
    }
    .col-2{
        width: 16.66%;
    }
    .col-3{
        width: 25%;
    }
    .col-4{
        width: 33.33%;
    }
    .col-5{
        width: 41.66%;
    }
    .col-6{
        width: 50%;
    }
    .col-7{
        width: 58.33%;
    }
    .col-8{
        width: 66.66%;
    }
    .col-9{
        width: 75%;
    }
    .col-10{
        width: 83.33%;
    }
    .col-11{
        width: 91.66%;
    }
    .col-12{
        width: 100%;
    }
}
